simlog.node*
sunflower.out
outfile.log
log.log

#
#	Binaries
#
*.o
#*.a
*.sr
*.map
init.i

#
#	Built cross compiler binaries
#
tools/bin
tools/superH

#
#	Downloaded sources
#
tools/source/*

#
#   Generated libary archives
#
tools/tools-lib/*/*.a
